<style>
	.feed{
	     margin-left: 100px;
	     margin-right: 100px;
	     margin-top: 50px;
	     border: 1px solid black;
	     min-height: 1000px;
                             }
    .feed h3 {
	border: 1px solid #333;
	padding: 20px;
                            }

    .title{
    	margin-left: 100px;
    }

	.new-meow{
	 	border: 1px solid #333;
	 	padding: 20px;
	 	width:100%;
	 }



	</style>